<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <%= render "layouts/navigation/header" %>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <%= render "layouts/navigation/collapsible_elements" %>

  </div><!-- /.container -->
</nav>

<div class="row">

  <!-- Elements visible all the time -->
  <div class="col-sm-7">
  </div><!-- col-sm-7 -->

  <!-- Elements collapses on smaller devices -->
  <div class="col-sm-5">
  </div><!-- col-sm-5 -->

</div><!-- row -->